@font-face {
  font-family: "Nunito Sans";
  src: url("../../assets/fonts/nunito-sans/NunitoSans-Variable.woff2") format("woff2-variations");
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
  /* Метрики для уменьшения CLS  */
  size-adjust: 98%;
  ascent-override: 92%;
  descent-override: 26%;
  line-gap-override: 0%;
}
/* _fonts.scss */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("../../assets/fonts/garamond/CormorantGaramond-VariableFont.woff2")
       format("woff2-variations");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;

  /* Метрики для уменьшения CLS  */
  size-adjust: 98%;
  ascent-override: 92%;
  descent-override: 26%;
  line-gap-override: 0%;
}

html { font-size: 16px; } /* чтобы rem = 16px было предсказуемым */
body { font-family: "Nunito Sans", sans-serif; line-height: 1.1;}
h1, .h1 { font-family: 'Cormorant Garamond', sans-serif ;}
:root {
  --brand-serif: "Cormorant Garamond", Georgia, "Times New Roman", Times, serif;
}
h1, h2, .display-1, .display-2 {
  font-family: var(--brand-serif);
  line-height: 1.1; // unitless, не наследует чужие метрики
  font-weight: 600;  // выбирай реально существующий вес в variable-оси
}