// Шрифты и базовые настройки Bootstrap
$font-family-sans-serif: "Nunito Sans", system-ui, -apple-system, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25, // 4px при 16px
  2: $spacer * .5,  // 8px
  3: $spacer,       // 16px
  4: $spacer * 1.5, // 24px
  5: $spacer * 3    // 48px
);

$grid-gutter-width: 1.5rem; // 24px

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1800px
);

// === Цвета бренда ===
$terra:    #C05B3F;  // акцентный терракотовый
$black:    #272525;
$gray:     #F2F2F2;
$white:    #ffffff;
$primary: #C05B3F;